### Lists and Tuples

In [1]:
#1. Create a list containing five different fruits and print the third fruit.

l1=['apple','banana','orange','kiwi', 'granate']

In [2]:
l1[3]

'kiwi'

In [10]:
#2. Create two lists of numbers and concatenate them into a single list.

l1=[1,2,3,5]
l2=[3,4,True, 'home']

In [ ]:
l1.extend(l2)

In [13]:
print(l1)

[1, 2, 3, 5, 3, 4, True, 'home']

In [14]:
#3. Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

l1=[1,2,3, 'Applied', [1,2,2], 'modeule', 100,200]

In [17]:
first_element= l1[0]
last_element=l1[-1]
middle_element=l1[len(l1)//2]

In [18]:
new_list=[first_element,middle_element,last_element]

In [19]:
print(new_list)

[1, [1, 2, 2], 200]

In [27]:
#4. Create a list of your five favorite movies and convert it into a tuple.

movies_list=['The Shawshank Redemption','Avengers:Infinity War','Breaking Bad', 'Game of Thrones'
 'Fight club']

In [28]:
it=tuple(movies_list)

In [29]:
print (it)

('The Shawshank Redemption', 'Avengers:Infinity War', 'Breaking Bad', 'Game of ThronesFight club')

In [36]:
#5. Given a list of cities, check if "Paris" is in the list and print the result.

citties_list=['London','Paris','New York', 'Istanbul', 'Dubai', 'Baku','Tokio']

In [37]:
print('Paris' in citties_list)

True

In [38]:
#6. Create a list of numbers and duplicate it without using loops.

list=[1,2,12,13,23]

In [39]:
mylist=list.copy()

In [40]:
print(mylist)

[1, 2, 12, 13, 23]

In [41]:
#7.Given a list of numbers, swap the first and last elements.

a=[1,2,3,5,6,7,8,9]

In [42]:
a[0],a[-1]=a[-1],a[0]

In [43]:
print(a)

[9, 2, 3, 5, 6, 7, 8, 1]

In [44]:
#8. Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

tuple=(1,2,3,4,5,6,7,8,9,10)

In [45]:
sliced_result=tuple[3:7]

In [46]:
print(sliced_result)

(4, 5, 6, 7)

In [49]:
#9.Create a list of colors and count how many times "blue" appears in the list.

list_colors=['red','yellow','blue','black','white','blue']

In [50]:
list_colors.count('blue')

2

In [51]:
#10.Given a tuple of animals, find the index of "lion".

animals_tuple=('lion', 'bear','giraffe','wolf', 'snake')

In [52]:
index_of_lion=animals_tuple.index('lion')

In [53]:
print(index_of_lion)

0

In [55]:
#11. Create two tuples of numbers and merge them into a single tuple

tuple1=(1,2,3,4,5)
tuple2=(2,4,6,8,0)

In [56]:
tuple3=tuple1+tuple2

In [57]:
print(tuple3)

(1, 2, 3, 4, 5, 2, 4, 6, 8, 0)

In [61]:
#12. Given a list and a tuple, find and print their lengths

my_list=[1,2,3,4]
my_tuple=(1,2,3)

In [62]:
list_length=len(my_list)
print(list_length)

4

In [63]:
tuple_length=len(my_tuple)
print(tuple_length)

3

In [66]:
#13.Create a tuple of five numbers and convert it into a list.

tup=(1,2,3,4)
a=[item for item in tup]
print(a)

[1, 2, 3, 4]

In [67]:
#14.Given a tuple of numbers, find and print the maximum and minimum values.

numbers=(1,2,3,4,5,6,7,8,9,9)

In [68]:
maximum = max(numbers)
minimum = min(numbers)

In [69]:
print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 9
Minimum: 1

In [75]:
#15. Create a tuple of words and print it in reverse order.

tup=('first','hello', 'salom', 'bye', 'xayr', 'last')

In [77]:
rev=tup[::-1]

In [78]:
print(rev)

('last', 'xayr', 'bye', 'salom', 'hello', 'first')