In [1]:
#1 Creating a database 

import sqlite3

conn=sqlite3.connect('Roster.db')
cursor=conn.cursor()

cursor.execute("""
CREATE TABLE roster (name text, species text, age integer);
""")
print('Database created successfully')

conn.close()
print('\nConnection is closed')

Database created successfully

Connection is closed

In [ ]:
# 2.Inserting the date 

import sqlite3
conn=sqlite3.connect('Roster.db')
cursor=conn.cursor()
rows=[
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 40),
    ('Kira Nerys', 'Bajoran', 40)
]
cursor.executemany("""
Insert into roster (name,species,age)
Values(?,?,?)
""" , rows)
print('Data entered successfully')
conn.commit()
if (conn):
    conn.close()
    print('\n The SQLite connection is closed')

Data entered successfully

 The SQLite connection is closed

In [6]:
#3. Update a specific column

import sqlite3
conn=sqlite3.connect('Roster.db')
cursorobj=conn.cursor()
sql_update_query="""Update roster set name = 'Ezri Dax' where name = 'Jadzia Dax' """
cursorobj.execute(sql_update_query)
conn.commit()
print('Record updated successfully')
cursorobj.execute("Select * from roster")
rows=cursorobj.fetchall()
print("\nAfter updating details:")
for row in rows:
    print(row)
if (conn):
    conn.close()
    print('\n Connection is closed')

Record updated successfully

After updating details:
('Benjamin Sisko', 'Human', 40)
('Ezri Dax', 'Trill', 40)
('Kira Nerys', 'Bajoran', 40)

 Connection is closed

In [7]:
#4. Display the Name and Age of everyone in the table classified as Bajoran

import sqlite3
conn=sqlite3.connect('Roster.db')
cursor=conn.cursor()

cursor.execute('''
Select name, age from roster where species= "Bajoran"
''')
bajoran_records=cursor.fetchall()

print('Bajoran crew members:')
for name,age in bajoran_records:
    print(f'{name}, Age: {age}')

conn.commit()
conn.close()

Bajoran crew members:
Kira Nerys, Age: 40