In [3]:
#Homework 1:

import pandas as pd 

data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} 
df = pd.DataFrame(data)
print(df)

df.columns=df.columns.str.lower().str.replace(' ', '_')
print('\nAfter change:')
print(df)

  First Name  Age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

After change:
  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

In [4]:
#Print the first 3 rows of the DataFrame

print(df.iloc[:3])

  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

In [5]:
#Find the mean age of the individuals

print(df['age']. mean())

32.5

In [6]:
#Select and print only the 'Name' and 'City' columns 

print(df[['first_name', 'city']])

  first_name           city
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

In [7]:
# Add a new column 'Salary' with random salary values

df.loc[4] = ['Suresh', 24, 'London']
print(df)

  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago
4     Suresh   24         London

In [8]:
# Display summary statistics of the DataFrame

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  5 non-null      object
 1   age         5 non-null      int64
 2   city        5 non-null      object
dtypes: int64(1), object(2)
memory usage: 160.0+ bytes
None

In [9]:
#Homework2:

import pandas as pd 

data= { 
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
}
sales_and_expenses = pd.DataFrame(data)
print(sales_and_expenses)

  Month  Sales  Expenses
0   Jan   5000      3000
1   Feb   6000      3500
2   Mar   7500      4000
3   Apr   8000      4500

In [13]:

max_sales = sales_and_expenses['Sales'].max()
max_expenses = sales_and_expenses['Expenses'].max()
print("\nMaximum Sales:", max_sales)
print("Maximum Expenses:", max_expenses)

min_sales = sales_and_expenses['Sales'].min()
min_expenses = sales_and_expenses['Expenses'].min()

print("\nMinimum Sales:", min_sales)
print("Minimum Expenses:", min_expenses)

avg_sales = sales_and_expenses['Sales'].mean()
avg_expenses = sales_and_expenses['Expenses'].mean()
print("\nAverage Sales:", avg_sales)
print("Average Expenses:", avg_expenses)

Maximum Sales: 8000
Maximum Expenses: 4500

Minimum Sales: 5000
Minimum Expenses: 3000

Average Sales: 6625.0
Average Expenses: 3750.0

In [14]:
#Homework3: 

import pandas as pd

# Step 1: Create the DataFrame
data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

# Step 2: Set 'Category' as the index
expenses = expenses.set_index('Category')

# Step 3: Calculate maximum, minimum, and average for each category
max_expenses = expenses.max(axis=1)
min_expenses = expenses.min(axis=1)
avg_expenses = expenses.mean(axis=1)

# Step 4: Display the results
print("Maximum expense for each category:\n", max_expenses)
print("\nMinimum expense for each category:\n", min_expenses)
print("\nAverage expense for each category:\n", avg_expenses)

Maximum expense for each category:
 Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64

Minimum expense for each category:
 Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64

Average expense for each category:
 Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64